:root{
  --neon-blue:#2764FF;
  --vermilion:#FF3737;
  --jet:#323232;
  --silver:#C1C1C1;
}


body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Rubik;
  src: url(resources/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: Exo2;
  src: url(resources/fonts/Exo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: B612;
  src: url(resources/fonts/B612Mono-Regular.ttf);
}