.messenger-box{
    display: flex;
}

.navbar{
    width: 300px;
    height: 552px;
    border: 5px solid var(--jet);
    overflow-y: auto;
}

.navbar::-webkit-scrollbar{
    display: none;
}

.point-link-button{
    width: 250px;
    height: 70px;
    margin: 20px 0 0 25px;
    cursor: pointer;
    border: 4px solid #323232;
    color: #000;
    background-color: white;
    font-family: B612;
    font-size: 36px;
}

.point-link-button:first-child{
    margin-top: 30px;
}

.point-link-button:last-child{
    margin-bottom: 30px;
}

.message-form{
    width: 933px;
    display: flex;
    align-self: end;
}

.message-input{
    width: 96%;
    height: 89px;
    padding-left: 25px;
    border: 5px solid var(--jet);
    border-left: 0px;
    font-family: Rubik;
    font-size: 36px;
    font-weight: 400;
    outline-width: 0;
    overflow-y: auto;
}

.message-button{
    width: 100px;
    height: 100px;
    border: 5px solid var(--jet);
    border-left: 0;
    background: var(--neon-blue);
    cursor: pointer;
}

.message-button:hover{
    background-color: #6086e7;
}

.message-button:active{
    background-color: var(--neon-blue);
}

.message-box{
    width: 918px;
    height: 446px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 15px 0px 0px 15px;
    overflow-y: auto;
}

.message-box::-webkit-scrollbar{
    width: 12px;
}

.message-box::-webkit-scrollbar-track{
    background-color: #ebebeb;
}

.message-box::-webkit-scrollbar-thumb{
    background-color: #b9b9b9;
}

.message-box::-webkit-scrollbar-thumb:hover{
    background-color: #5786ff;
}

.message{
    display: flex;
}

.user-avatar{
    margin-right: 10px;
    user-select: none;
}

.message-info-div{
    max-width: 490px;
    height: max-content;
    margin-bottom: 30px;
    padding: 0px 10px 6px 10px;
    background: #2764FF;
}

.message-author-name{
    color: #FFF;
    font-family: Exo 2;
    font-size: 15px;
    font-weight: 700;
}

.message-content-wrapper{
    margin: -6px 0px 6px 0px;
    padding: 5px 10px 10px 10px;
    background-color: #FFF;
}

.message-content{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
}

.message-sent-time{
    margin: 0;
    color: #FFF;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}